#fnInputError {
    color: red;
  }
  
  #lnInputError {
    color: red;
  }
  
  #add1InputError {
    color: red;
  }
  
  #cityInputError {
    color: red;
  }
  
  #stateInputError {
    color: red;
  }
  
  #zipInputError {
    color: red;
  }
  
  #ageInputError {
    color: red;
  }