body {
    font-family: helvetica, arial, sans-serif;
    background-color: #4e5365;
    margin: 2em;
}

#topNav {
    color: white;
    margin: 5%;
}

#tealDiv {
    background-color: #4cabb1;
    text-align: center;
    padding: 30px;
    color: white;
  }
  
  #greenishDiv {
    background-color: #69c7ad;
    text-align: center;
    padding: 30px;
    color: white;
  }
  #colWithPic {
    background: url(https://cdn.glitch.com/8bcd0923-e8b1-4a38-843e-1c4883da1256%2Fpic02.jpg?v=1610567351487);
    background-repeat: no-repeat;
  }
  
  #section2 {
    background: #ffffff;
    text-align: center;
    padding: 5%;
  }
  #section3 {
    background: #ffffff;
    text-align: center;
    padding: 5%;
  }
  
  #section4Pic {
    text-align: center;
    padding-top:5%;
  }
  
  #section5 {
    background-color: white;
    text-align: center;
    padding: 5%;
  }
  