body, html {
  height: 100%;
  margin: 0%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero-image.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#menu {
  text-align: right;
  /* border: solid black 3px; */
  padding: 1%;
  height: 100%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

#midSection {
  text-align: center;
  padding-top: 20px;
}

.productWrapper {
  border: solid black 3px;
  margin-top: 3%;
  height: 244px;

}
.footer {
  margin-top: 3%;
  height: 200px;
  background-color: #343634;
  color: white;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
}
